<div>
  {{ #for val in testArray }}
  <div>
    <h1>{{ val.title }}</h1>
    <p>{{ val.content }}</p>
    {{ #if val.options.isActive }}
    <div>
      Conditional block
      {{ #if test.msg === "Some message" }}
      <div>{{ test.msg }}</div>
      {{ #fi }}
      <div>{{ asd }}</div>
      <div>{{ qwerty }}</div>
    </div>
    {{ #fi }}
  </div>
  {{ #rof }}
  {{ #if true }}
  <div>
    Conditional block
    <div>{{ test.msg }}</div>
    <div>{{ asd }}</div>
    <div>{{ qwerty }}</div>
  </div>
  {{ #fi }}
</div>
