<div>
    {{ #for val in testArray }}
    <div>
      <h1>{{ val.title }}</h1>
      <p>{{ val.content }}</p>
      <div>{{ val.options.isActive }}</div>
    </div>
    {{ #rof }}
  <!-- <div>{{ test.msg }}</div>
  <div>{{ asd }}</div>
  <div>{{ qwerty }}</div> -->
</div>
